
// sass/_main.scss
@use 'variables';

body {
  font-family: variables.$fuente-principal;
  color: variables.$color-gris;
  background-color: variables.$color-fondo;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

// TITULOS Y SECCIONES
.info h2, .historia h2, main h2 {
  color: variables.$color-rojo;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1px;
}

.info, .historia {
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
  padding: 25px 35px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

main {
  max-width: 900px;
  margin: 40px auto 60px;
  text-align: center;
}

.facebook-section {
  max-width: 900px;
  margin: 40px auto 60px;
  display: flex;
  gap: 30px;
  align-items: flex-start;
  justify-content: center;

  h2 {
    color: variables.$color-rojo;
    margin: 0;
    flex-shrink: 0;
    width: 200px;
    font-weight: 700;
  }

  iframe {
    max-width: 100%;
    height: auto;
    flex-grow: 1;
    border-radius: 12px;
    box-shadow: 0 4px 14px rgba(0,0,0,0.12);
  }
}

.zona-operativa-container img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px;
}